{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>MedStem</title>
{% endblock meta %}

{% block content %}
  <div class="bg-[url('../../static/images/home.png')] color-white bg-fixed bg-no-repeat w-full bg-cover bg-center">
    <div class="bg-[#000000CC] font-bold text-center text-5xl py-40 text-white"><span class="text-red-500">MED</span>STEM</div>
  </div> 
  <div class="py-12">
    <div class="text-center text-4xl font-bold py-4">About Us</div>
    <hr class="mx-12">
    <div class="text-center text-2xl p-12"><span class="text-red-600 font-bold">MedStem</span> adalah sebuah aplikasi untuk memudahkan pelayanan rumah sakit. Aplikasi ini digunakan oleh tenaga medis dan kesehatan dalam rumah sakit guna memudahkan tenaga medis untuk menyusun jadwal pasien, mengalokasikan ruangan yang digunakan untuk pasien, tracking aktivitas lab, tracking request obat, dan menghitung pendapatan harian dari sebuah rumah sakit. Selain itu, dengan menggunakan aplikasi yang dibuat oleh kami dapat mempermudah komunikasi akses antar komponen rumah sakit sehingga tidak terjadi bentrok satu dengan yang lainnya.</div>
  </div>
  <div class="bg-gray-700 text-white py-12">
    <div class="text-center text-4xl font-bold py-8">Our Features</div>
    <hr class="mx-12">
    <div class="grid grid-cols-1 place-items-center py-8 gap-4 md:grid-cols-2 min-[1183px]:grid-cols-3">
      <!-- card -->
      <a href="childcare/" class="">
        <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white text-black hover:scale-110 overflow-hidden duration-300">
          <img class="w-full" src="/static/images/childcare.png" alt="Childcare">
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Childcare</div>
            <p class="text-gray-700 text-base">
              Our childcare service provides your child with the most competent doctors and up to date medicines and vaccines. In our service, your child is at the top of our priority and we will make sure you and your child will get the best service from our staffs.
            </p>
          </div>
        </div>
      </a>
      <a href="checkup/" class="">
        <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white text-black hover:scale-110 overflow-hidden duration-300">
          <img class="w-full" src="/static/images/checkupHome.png" alt="Childcare">
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Checkup</div>
            <p class="text-gray-700 text-base">
              Get your physical health checked by our most competent doctors and get the best medical experience from the entrance door. We guarentee a fast and efficient medical checkup and process so you can go back to your daily activities.
            </p>
          </div>
        </div>
      </a>
      <a href="vaksin/" class="">
        <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white text-black hover:scale-110 overflow-hidden duration-300">
          <img class="w-full" src="/static/images/vaksin.png" alt="Childcare">
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Vaksin</div>
            <p class="text-gray-700 text-base">
              We provide you and your child various choices of high quality vaccines as well as the most proficient doctors so that the vaccination process will be as efficient and painless as possible. We will guarentee the originality of the vaccine and the sanitation of the process.
            </p>
          </div>
        </div>
      </a>
      <!-- card -->
      <a href="pharmacy/" class="">
        <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white text-black hover:scale-110 overflow-hidden duration-300">
          <img class="w-full" src="/static/images/pharmacyHome.png" alt="Childcare">
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Pharmacy</div>
            <p class="text-gray-700 text-base">
              Get your medical needs at a reasonable price at our pharmacy. We guarentee high quality medicines and fairness in our price as well as a fast process at preparing your medicines.
            </p>
          </div>
        </div>
      </a>
      <a href="kasir/" class="">
        <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white text-black hover:scale-110 overflow-hidden duration-300">
          <img class="w-full" src="/static/images/checkoutHome.png" alt="Childcare">
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Checkout</div>
            <p class="text-gray-700 text-base">
              Once everything is finished, you can pay at our fast and digitalized transaction system. We guarentee a short queue or you can directly pay using our digitalized app on the web.
            </p>
          </div>
        </div>
      </a> 
    </div>
  </div>
{% endblock content %}