{% extends 'base.html' %}

    {% block content %}
    <div class="bg-[url('../../static/images/vaksin.png')] color-white bg-fixed bg-no-repeat w-full bg-cover bg-center">
        <div class="bg-[#00000066] font-bold text-center text-5xl py-40 text-white">Vaksin</div>
      </div>
    <div class="bg-stone-800 py-10">
        <h1 class="font-bold text-5xl text-white text-center pb-8">Guidelines</h1>
        <div class="py-5 mb-10">
            <p class="text-white text-xl text-center pb-10">Please Login first to see the full feature</p>
            <center>
                <form action = "{% url 'vaksin:login' %}">
                    <button type="submit" id="user_button" class="text-white text-xl bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-5 mb-8 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Login</button>
                </form>
            </center>
        </div>
    </div>
    {% endblock content %}