{% extends 'base.html' %}

    {% block content %}

    <div class="bg-[url('../../static/images/vaksin.png')] color-white bg-fixed bg-no-repeat w-full bg-cover bg-center">
      <div class="bg-[#00000066] font-bold text-center text-5xl py-40 text-white">Vaksin</div>
    </div>
    <div class="bg-stone-800 py-10">
        <h1 class="font-bold text-5xl text-white text-center pb-8">Guidelines</h1>
        <div class="py-5 mb-10">
          <li class="text-white mx-20 mb-2 text-xl">"Tambah Vaksin" can be used to add a new type of vaccine to the database</li>
          <li class="text-white mx-20 mb-2 text-xl">"Edit Dosis" can be used to re-configure the dose of a vaccine from the database</li>
          <li class="text-white mx-20 mb-2 text-xl">"Cek Stok" can be used to see the stock of a vaccine from the database</li>
          <li class="text-white mx-20 mb-2 text-xl">"Lihat Vaksin User" can be used to see the list of vaccines that you have added to the database</li>
          <li class="text-white mx-20 mb-2 text-xl">"Kembali" can be used to navigate to the initial webpage</li>
        </div>
    <center>
        <hr class="mx-14 text-white border-2"></hr>
        <h1 class="font-bold text-5xl text-white pt-10 pb-3">Data Vaksin MedStem</h1>
        <h4>Username: {{user}}</h4>
        <button type="button" id="user_button" onclick="userVaksin()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-5 mb-8 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Lihat Vaksin User</button>
        <button type="button" id="kembali" onclick="refreshVaksin()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-5 mb-8 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Kembali</button>
        <table class="mb-12 border-slate-500 border-2 border-collapse">
          <thead id="table_header" class="text-slate-400 bg-gray-700 border-2">
            <!-- <tr>
            <th class="px-10 py-2 text-center border border-slate-500">Nama Vaksin</th>
            <th class="px-10 py-2 text-center border border-slate-500">Efek Samping</th>
            <th class="px-10 py-2 text-center border border-slate-500">Dosis Vaksin(mg)</th>
            <th class="px-10 py-2 text-center border border-slate-500">Hapus Vaksin</th>
            </tr> -->
          </thead>
          <tbody id="data_vaksin" class="text-zinc-400 border-2 bg-zinc-800"></tbody>
        </table>
    
    <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Tambah Vaksin</button>
    <button type="button" onclick="vaksinList()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" data-bs-toggle="modal" data-bs-target="#edit_dosis" data-bs-whatever="@getbootstrap">Edit Dosis</button>
    <button type="button" onclick="vaksinList1()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" data-bs-toggle="modal" data-bs-target="#check_stock" data-bs-whatever="@getbootstrap">Cek Stok</button>
  </center>


      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content bg-slate-700">
            <div class="modal-header">
              <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Formulir Tambah Vaksin</h1>
              <button type="button" class="btn-close text-white bg-gray-700" data-bs-dismiss="modal" aria-label="Close" value="X"></button>
            </div>
            <div class="modal-body">
              <form id="form_vaksin" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                  {% for field in form %}
                    <div class="grid grid-cols-3">
                        <div class="col-span-1 text-white">{{field.label}}</div>
                        <div class="col-span-2 py-2">{{field}}</div>
                    </div>
                  {% endfor %}
                </div>
              </form>
            </div>
              <div class="modal-footer">
              <button type="button" class="btn btn-secondary text-white-center bg-red-700" data-bs-dismiss="modal">Close</button>
              <button type="button" onclick="addVaksin()" class="btn btn-primary text-white-center bg-blue-700" id="add_button" data-bs-dismiss="modal">Tambah</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="edit_dosis" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content bg-slate-700">
            <div class="modal-header">
              <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Edit Dosis</h1>
              <button type="button" class="btn-close text-white bg-gray-700" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
              <form id="edit_dose" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="dosis" class="col-form-label text-white">Dosis baru</label>
                  <input type="number" class="form-control bg-slate-300" id="field_dose" name="vaksin_dose">
                </div>
                <div class="mb-3">
                  <label for="vaksin" class="col-form-label text-white">Pilih Vaksin</label>
                  <br>
                  <select for="vaksin_option" id="select_dropdown" name="vaksin_option" class="px-6 border-1 bg-slate-300 border-grey-500"></select>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary text-white-center bg-red-700" data-bs-dismiss="modal">Close</button>
              <button type="button"  onclick="editDose()" class="btn btn-primary text-white-center bg-blue-700" id="edit_button" data-bs-dismiss="modal">Edit</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="check_stock" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content bg-slate-700">
            <div class="modal-header">
              <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Cek Stok Vaksin</h1>
              <button type="button" class="btn-close text-white bg-gray-700" data-bs-dismiss="modal" aria-label="Close" value="X"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <form>
                  <label for="vaksin" class="col-form-label text-left text-white">Pilih Vaksin</label>
                  <br>
                  <select for="vaksin_option" id="select_dropdown1" name="vaksin_option" class="py-1 px-4 text-left bg-slate-300">
                    
                  </select>
                  <br>
                </form>
              </div>
              <div class="mb-3">
                <h3 id="text_stock"></h3>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary text-white-center bg-red-700" data-bs-dismiss="modal">Close</button>
              <button type="button" onclick="checkStock()" class="btn btn-primary text-white-center bg-blue-700" id="check_button">Cek</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% load static %}
    <script src="{% static 'js/vaksin/vaksin_ajax.js' %}"></script>
    <script>
        refreshVaksin()
    </script>

    {% endblock content %}