{% extends 'base.html' %}
{% load static %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $.get("/apotek/json", function(data) {
            $("add_button").click(function () {
                $(".card-container").empty();
                var perscription = document.getElementById("hari").value;
                $("#hari").val("");

                $.ajax({
                    url: "/apotek/json",
                    success: function (res) {
                        for (i = 0; i < res.length; i++) {
                            var data = res[i].fields;
                            if (prescription === data.hari) {
                                $(".card-container").append(
                                    '<div style="display: flex; flex-wrap:wrap; gap: 50px;justify-content: center;">' +
                                    '<div class="card" style="width: 25%; background-color: rgb(13, 23, 63); margin-bottom: 2cm; box-shadow: 5px 5px 15px rgb(0, 0, 0, 9); border-radius: 18px;"><div class="card-body">' +
                                    '<h3 class="card-title" style="color: white; text-align: center">' + 'Nama Pasien ' + data.nama_pasien + '</h3>' +
                                    '<hr style="color: white;">' +
                                    '<p class="card-text" style="color: white;text-align: center;">' + 'Umur : ' + data.umur_pasien + '</p>' +
                                    {#'<p class="card-text" style="color: white;text-align: center;">'+'Jam : '+ data.due_time+'</p>'+#}
                                    '</div></div></div>');
                            }
                        }
                    }
                });
            });
        });
    });

</script>
{#    {% endblock meta %}#}


{#console.log(data)#}



    <div class="bg-[url('../../static/images/pharmacy.png')] color-white bg-fixed bg-no-repeat w-full bg-cover bg-center">
        <div class="bg-[#00000066] font-bold text-center text-5xl py-40 text-white">Pharmacy</div>
    </div>
    <div class="bg-stone-800">
        <div class="text-center text-white font-bold text-3xl py-14">About</div>
        <div class="text-white text-center text-base sm:text-xl pb-14 px-6 sm:px-14">
            With the Pharmacy feature in MedStem, making and tracking patient prescriptions has never been easier!
            Pharmacy allows you to add and edit patient prescriptions as well as see the prescriptions made in a certain date.
        </div>
        <div class="{{display_status}}">
            <div class="text-center text-white font-bold text-3xl pt-14 pb-7">
                <div class="pb-7">Prescription List</div>
                <div class="inline-flex">
                    <button id="new" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" onclick="location.href='/apotek/add_prescription'">Add Prescription</button>
{#                    <script type="text/javascript">#}
{#                        document.getElementById("new").onclick = function () {#}
{#                            location.href = "apotek:add";#}
{#                        };#}
{#                    </script>#}
                    {#                    <button id="update" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" onClick="getData()">Update Stock</button>#}
                </div>
            </div>
            <div class=".overflow-x-auto relative grid grid-cols-1 place-items-center pb-14">
                {% for prescription in list_prescription %}
                    <div class="card w-96 glass" style="width: 18rem; text-align: center;">
                        <div class="card-body">
                            <h5 class="card-title">{{prescription.nama_pasien}}</h5>
                            <p class="card-text">{{prescription.umur_pasien}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
{#            <div class="overflow-x-auto relative grid grid-cols-1 place-items-center pb-14">#}
{#                <div class="card w-96 glass">#}
{#                    <figure><img src="https://placeimg.com/400/225/arch" alt="car!"/></figure>#}
{#                    <div class="card-body">#}
{#                        <h2 class="card-title">Life hack</h2>#}
{#                        <p>How to park your car at your garage?</p>#}
{#                        <div class="card-actions justify-end">#}
{#                            <button class="btn btn-primary">Learn now!</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
            <div class="text-center text-white font-bold text-3xl pt-14 pb-7">
                <div class="pb-7">Sort from Date</div>
                    <div class="inline-flex">
{#                        <div class="text-white text-center text-base sm:text-xl pb-14 px-6 sm:px-14">#}
{#                            Pick a date to sort patient prescriptions#}

                        <select style="width: 80%; border-radius: 5px; background-color: white; border-left: rgb(13, 23, 63); box-shadow: 5px 5px 10px rgb(0, 0, 0, 9);"  class="pilihhari" id="hari" name="hari">
                                    <div class="text-white text-center text-base sm:text-xl pb-14 px-6 sm:px-14">
                                    <option id="placeholder" value="" disable selected hidden>Pilih Tanggal</option>
                                    {% for i in medicine %}
                                        <option value="{{i.hari}}">Tanggal {{i.hari}}</option>
                                    {% endfor %}
                                    </div>
                        </select>
                                <button style="color:white; width: 20%; background:rgb(13, 23, 63); box-shadow: 5px 5px 10px rgb(0, 0, 0, 9); border-radius: 15px; "  type="button" class="tampilkan">Search</button>

                    </div>
            </div>
        </div>
    </div>
    </div>
    </div>


    {% load static %}
    <script src="{% static 'js/apotek/apotek_ajax.js' %}"></script>
    <script>
        refreshApotek()
    </script>

    {% endblock content%}