{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      important: true,
    }
  </script>
  {% block meta %}
  {% endblock meta %}
</head>

<body>
  
  <nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl px-4 md:px-6 py-2.5">
        <a href="https://flowbite.com" class="flex items-center">
            <img src="../static/images/med_logo.png" class="mr-3 h-6 sm:h-9" alt="MedStem Logo">
            <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">MedStem</span>
        </a>
        <div class="grid grid-cols-2 gap-4">
            <div class=""><a href="#" class="text-sm font-medium text-blue-600 dark:text-blue-500 hover:underline">Register</a></div>
            <div class=""><a href="#" class="text-sm font-medium text-blue-600 dark:text-blue-500 hover:underline">Login</a></div>
        </div>
    </div>
  </nav>
  <nav class="bg-gray-50 dark:bg-gray-700">
    <div class="py-3 px-4 mx-auto max-w-screen-xl md:px-6">
        <div class="flex items-center">
            <ul class="flex flex-row mt-0 mr-6 space-x-8 text-sm font-medium">
                <li>
                    <a href="/" class="text-gray-900 dark:text-white hover:underline" aria-current="page">Home</a>
                </li>
                <li>
                    <a href="/childcare" class="text-gray-900 dark:text-white hover:underline">Childcare</a>
                </li>
                <li>
                    <a href="#" class="text-gray-900 dark:text-white hover:underline">Checkup</a>
                </li>
                <li>
                    <a href="#" class="text-gray-900 dark:text-white hover:underline">Lab</a>
                </li>
                <li>
                    <a href="#" class="text-gray-900 dark:text-white hover:underline">Pharmacy</a>
                </li>
                <li>
                    <a href="#" class="text-gray-900 dark:text-white hover:underline">Checkout</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>

  {% block content %}
  {% endblock content %}
</body>

</html>