{% extends 'base.html' %}

 {% block content %}

 {% load static %}
 <script src="{% static 'js/childcare/childcare_ajax.js' %}"></script>
 <script>
    getData()
 </script>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Enqueue</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
        </div>
        <form>
            {% csrf_token %}
            <div class="modal-body">
                <div class="grid grid-rows-1 gap-4">
                    {% for field in form %}
                    <div class="grid grid-cols-3 place-items-center">
                        <div class="col-span-1">{{field.label}}</div>
                        <div class="col-span-2 border border-black">{{field}}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="close" class="btn btn-secondary border-red-600 text-red-600 hover:bg-red-600 hover:text-white" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="submitHandler()" class="btn btn-primary text-blue-600 hover:text-white">Submit</button>
            </div>
        </form>
      </div>
    </div>
  </div>
    
    <div class="bg-[url('../../static/images/childcare.png')] color-white bg-fixed bg-no-repeat w-full bg-cover bg-center">
        <div class="bg-[#00000066] font-bold text-center text-5xl py-40 text-white">Childcare</div>
    </div>
    <div class="bg-stone-800">
        <div class="text-center text-white font-bold text-3xl py-14">About</div>
        <div class="text-white text-center text-base sm:text-xl pb-14 px-6 sm:px-14">
            Our childcare service provides your child with the most competent doctors and up to date medicines and vaccines. In our service, your child is at the top of our priority and we will make sure you and your child will get the best service from our staffs. We also provided a small playground so that your child will not get bored while waiting in queue. Any further questions can be asked through our staffs or through our email at <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="text-blue-200 hover:text-blue-400">medstem_childcare@this.is.not.real.com</a>.
        </div>
        <div class="{{display_status}}">
            <hr class="mx-14 text-white border-2"></hr>
            <div class="text-center text-white font-bold text-3xl pt-14 pb-7">
                <div class="pb-7">Current Queue</div>
                <div class="inline-flex">
                    <button id="new" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Enqueue</button>
                    <button id="update" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" onClick="getData()">Update Queue</button>
                </div>
            </div>
            <div class="overflow-x-auto relative grid grid-cols-1 place-items-center pb-14">
                <table class="w-5/6 text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="py-3 px-6">
                                Patient Name
                            </th>
                            <th scope="col" class="py-3 px-6">
                                Check-in Date
                            </th>
                            <th scope="col" class="py-3 px-6">
                                Doctor
                            </th>
                            <th scope="col" class="py-3 px-6">
                                Description
                            </th>
                            <th scope="col" class="py-3 px-6">
                                Edit
                            </th>
                        </tr>
                    </thead>
                    <tbody id="rows">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

 {% endblock content %}