{% extends 'base.html' %}

 {% block content %}
    
    <div class="bg-[url('../../static/images/childcare.png')] color-white bg-fixed bg-no-repeat w-full bg-cover bg-center">
        <div class="bg-[#00000066] font-bold text-center text-5xl py-40 text-white">Childcare</div>
    </div>
    <div class="bg-stone-800">
        <div class="text-center text-white font-bold text-3xl py-14">About</div>
        <div class="text-white text-center text-xl pb-14 px-14">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere veritatis earum, enim, impedit reiciendis voluptate qui corrupti necessitatibus inventore hic nobis ex ratione porro rem pariatur est odit culpa sapiente!</div>
        <hr class="mx-14"></hr>
        <div class="text-center text-white font-bold text-3xl pt-14 pb-7">
            <div class="pb-7">Current Queue</div>
            <div class="inline-flex">
                <button id="new" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Enqueue</button>
                <button id="update" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Update Queue</button>
            </div>
        </div>
        <div class="overflow-x-auto relative grid grid-cols-1 place-items-center pb-14">
            <table class="w-5/6 text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="py-3 px-6">
                            Patient Name
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Check-in Time
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Doctor
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in data %}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{data.}}
                        </th>
                        <td class="py-4 px-6">
                            Sliver
                        </td>
                        <td class="py-4 px-6">
                            Laptop
                        </td>
                        <td class="py-4 px-6">
                            $2999
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

 {% endblock content %}